footer{
	text-align: center;
	background-color: grey;
}
body {
    background-color: rgba(209, 209, 209, 0.38);
    color: #393939;
    font-family: Open Sans;
    /*background-image: url("imgs/pattern.jpg");
  background-repeat: all;*/
}
#home .section-content {
    background-color: #499800;
}

#experience .section-content {
    background-color: #009398;
    max-height: 50%;
    transition: height 1s ease;
}


.section-title {
    margin: 5rem;
    margin-bottom: 0px;
    margin-left: 0px;
}

#home .section-title {
    color: #499800;
}

#experience .section-title {
    color: #009398;
}